/* GENERAL RULES (REQUIRED) */
* {box-sizing:border-box;transition:all 0.3s;-webkit-transition:all 0.3s;color:#1d1f20;font-family: 'Roboto', sans-serif;}
.display-none {display:none;}

body {
	background: #bcdee7 url("http://victory-design.ru/sandbox/codepen/profile_card/bg.png") no-repeat center center fixed;
    background-size: 120% auto;
    position: fixed;
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	font: normal 14px/1.618em "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
}

input[type=text] {
    border-radius: 4px;
    height: 30px;
    width: 250px;
}

.btn_login {  
background-color: #26C6DA; 
  border: none; 
  padding: 10px; 
width: 200px; 
border-radius:3px; 
box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4); 
  color: #fff; 
margin-top: 10px; 
cursor: pointer; 
}

.btn_sign_up {  
background-color: #04B45F; 
  border: none; 
  padding: 10px; 
width: 200px; 
border-radius:3px; 
box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4); 
  color: #fff; 
margin-top: 10px; 
cursor: pointer; 
} 
.cont_forms_active_sign_up { 
z-index: 2;   
}

.cont_form_sign_up { 
  position: absolute; 
  width: 320px; 
float: left; 
  opacity: 0; 
display: none; 
  -webkit-transition: all 0.5s; 
-moz-transition: all 0.5s; 
-ms-transition: all 0.5s; 
-o-transition: all 0.5s; 
transition: all 0.5s; 
} 

/* GENERAL RULES (OPTIONAL) */
body {margin:0;background-color:#FFF;}
h2 {font-weight:300;}
.title-text {text-align:center;font-size:40px;color:#EEE;}
.sidebar-tabs-menu-1 {position:relative;margin:40px auto;width:275px;}

/* TAB RULES */
.sidebar-tabs-menu-1 .tab {position:relative;float:left;margin-bottom:-300%;}
.sidebar-tabs-menu-1 .tab .title {cursor:pointer;position:absolute;padding:18px 10px;background-color:#EEE;border-bottom:3px solid #04B45F;width:50%;z-index:1;text-align:center;}
.sidebar-tabs-menu-1 .tab .title.not-first {right:0;}

/* CHANGE TABS */
.sidebar-tabs-menu-1 input[type="radio"]:checked ~ .title {background-color:#26C6DA;color:#EEE;}
.sidebar-tabs-menu-1 input[type="radio"]:checked ~ .reveal .lay-frame div {transform:translateX(0px);-webkit-transform:translateX(0px);opacity:1;z-index:1;}
.sidebar-tabs-menu-1 input[type="radio"]:checked ~  .reveal .text-frame div {transform:translateX(0px);-webkit-transform:translateX(0px);opacity:1;z-index:1;}

/* REVEALED RULES */
.sidebar-tabs-menu-1 .reveal {margin:58px 0 0 0;overflow:hidden;}

/* LAY RULES */
.sidebar-tabs-menu-1 .reveal .lay-frame {position:relative;float:left;cursor:pointer;overflow:hidden;margin-top:30px;margin-bottom:20px;width:100%;height:450px;}
.sidebar-tabs-menu-1 .reveal .lay-frame div {opacity:0;z-index:0;transform:translateX(200%);-webkit-transform:translateX(200%);}
.sidebar-tabs-menu-1 .reveal .underlay {position:relative;float:left;width:300px;height:900px;box-shadow:0 0 1000px #444 inset;}
.sidebar-tabs-menu-1 .reveal .underlay h2 {text-align:center;color:#EEE;line-height:62px;}
.sidebar-tabs-menu-1 .reveal .overlay {position:relative;width:100%;height:100%;color:#EEE;background-color:rgba(0,0,0,0.35);z-index:1;top:100%;opacity:0;}

/* LAY HOVER RULES */
.sidebar-tabs-menu-1 .reveal .underlay:hover + .overlay {opacity:1;top:0;}
.sidebar-tabs-menu-1 .reveal .overlay:hover {opacity:1;top:0;}

/* READ MORE RULES */
.sidebar-tabs-menu-1 .reveal .overlay .readMore {position: absolute;bottom: 0;right: 0;padding: 14px 10px 15px;font-size: 22px;width: 100%;border-top: 1px solid #999;background-color: rgba(0,0,0,0.6);color: #fff;font-weight: 300;}
.sidebar-tabs-menu-1 .reveal .overlay .readMore > a {float: left;width: 100%;color:#EEE;text-decoration:none;}
.sidebar-tabs-menu-1 .reveal .overlay .readMore:hover {background-color:rgba(224, 52, 106,0.7);}
.sidebar-tabs-menu-1 .reveal .overlay .readMore:hover .arrow {cursor: pointer;border-color: transparent;border-width: 0;}
.sidebar-tabs-menu-1 .reveal .overlay .readMore:hover .arrow .arrow-mask {left: -15px;top: -29px;}

/* ARROW RULES */
.sidebar-tabs-menu-1 .reveal .overlay .arrow {border: 4px solid #DADADA;border-radius: 100%;width: 40px;height: 40px;position: absolute;right: 20px;bottom:9px;}
.sidebar-tabs-menu-1 .reveal .overlay .arrow .arrow-mask {position: relative;top: -33px;left: -32px;border: 21px solid transparent;}
.sidebar-tabs-menu-1 .reveal .overlay .arrow .arrow-mask:before {content: '';position: relative;float: left;top: 16px;left: 28px;width: 4px;height: 16px;background-color: #DADADA;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);}
.sidebar-tabs-menu-1 .reveal .overlay .arrow .arrow-mask:after {content: '';position: relative;float: left;top: 9px;left: 28px;width: 4px;height: 16px;background-color: #DADADA;transform: rotate(45deg);-webkit-transform: rotate(45deg);}

/* UNDERTEXT RULES */
.sidebar-tabs-menu-1 .reveal .text-frame div {position:relative;float:left;width:100%;opacity:0;z-index:0;transform:translateX(-300%);-webkit-transform:translateX(-300%);}
.sidebar-tabs-menu-1 .reveal .text-frame h2 {cursor:pointer;margin-top:-8px;margin-bottom:-8px;line-height:0.9;}
.sidebar-tabs-menu-1 .reveal .text-frame h2 a {font-size:16px;font-weight:300;text-transform:uppercase;color:#FFF;}
.sidebar-tabs-menu-1 .reveal .text-frame h2 a:hover {color:rgba(224, 52, 106,0.75);}
.sidebar-tabs-menu-1 .reveal .text-frame p {cursor:auto;color:#FFF;}
.sidebar-tabs-menu-1 .reveal .text-frame .border-bottom {border-bottom:1px solid #9a9a9a;}